<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <!--These properties need to be obtained from the API provider-->
    <add key="appid" value="xxxxxxxxxx"/>
    <add key="staticPassword" value="xxxxxxxxxxxx"/>
    <add key="targetUrl" value="https://fanyi-api.baidu.com/api/trans/vip/translate?q={0}&amp;from={1}&amp;to={2}&amp;appid={3}&amp;salt={4}&amp;sign={5}"/>
  </appSettings>
</configuration>